# Discord Bot Token (get it from https://discord.com/developers/applications)
DISCORD_TOKEN=your_discord_bot_token_here

# Guild (Server) ID
GUILD_ID=your_guild_id_here

# Channel IDs
CHANNEL_BIENVENIDOS=your_channel_id
CHANNEL_REGLAS=your_channel_id
CHANNEL_COMANDOS=your_channel_id
CHANNEL_SUSCRIPCIONES=your_channel_id
CHANNEL_ANUNCIOS=your_channel_id
CHANNEL_LOGS=your_channel_id
CHANNEL_TOP3=your_channel_id
CHANNEL_SORTEOS=your_channel_id
CHANNEL_SOPORTE=your_channel_id
CHANNEL_VERIFICACION=your_channel_id
CHANNEL_CHAT_ES=your_channel_id
CHANNEL_CHAT_EN=your_channel_id
CHANNEL_CHAT_PT=your_channel_id
CHANNEL_NOVEDADES=your_channel_id
CHANNEL_STAFF=your_channel_id
CHANNEL_DAILY=your_channel_id

# Role IDs
ROLE_ACTIVO=your_role_id
ROLE_REGULAR=your_role_id
ROLE_VETERANO=your_role_id
ROLE_LEYENDA=your_role_id
